body {
    background-color: black;
	/* Use a system font, if none are available use an available sans-sarif   font */
  color: whitesmoke;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid ivory;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  color: ivory;
  font-family: 'Happy Monkey', sans-serif;
  line-height: 110px;
}

#play, #reset, #message, h1{
  margin: 40px;
  text-align: center;
  font-family: 'Happy Monkey', sans-serif;
}

#message {
  font-size: 50px;
}
