body {
    background-color: black;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: whitesmoke;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid whitesmoke;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}